<h2>{{ this.title }}</h2>

<div>
  <div *ngIf="!this.repartidorToShow">No hay un repartidor seleccionado!</div>

  <div class="mb-3" *ngIf="this.repartidorToShow">
    <p>Dni: {{ this.repartidorToShow?.dni }}</p>
    <p>Nombre: {{ this.repartidorToShow?.nombre }}</p>
    <p>Edad:{{ this.repartidorToShow?.edad }}</p>
    <p>
      Capacidad de transporte: {{ this.repartidorToShow?.capacidadTransporte }}
    </p>
    <p>
      Unidad propia:
      {{ this.repartidorToShow?.unidadPropia ? "Tiene" : "No tiene" }}
    </p>
    <p>
      Pais Origen: {{ this.repartidorToShow?.paisOrigen?.translations?.es }}
    </p>

    <p>Bandera:</p>
    <img
      [src]="this.repartidorToShow?.paisOrigen?.flag"
      alt="Flag image"
      width="200px"
    />
  </div>

  <hr />
</div>
